.khan {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 105px;
    padding-bottom: 340px;
    overflow: hidden;
}