@import url('/blocks/rotation/rotation.css');

.header__square {
    position: absolute;
    top: 0;
    right: 0;
    width: 568px;
    height: 568px;
    background-color: #2F80ED;
    transform: rotate(15deg);
    margin-top: 64px;
    animation: rotation 20s linear infinite;
  }