@import url('/blocks/rotation/rotation.css');

.kaufman__triangle {
    position: absolute;
    top: 0;
    right: -124px;
    width: 660px;
    height: 636px;
    animation: rotation 20s linear infinite;
  }