.footer {
    background-color: #1f1f1f;
    padding-top: 60px;
    padding-bottom: 40px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .footer__columns {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer__column {
    display: flex;
    flex-direction: column;
  }
  
  .footer__column-content-copyright {
    justify-content: space-between;
    flex-basis: 711px;
  }
  
  .logo-place-footer {
    width: 183px;
    height: 35px;
  }
  
  .footer__author {
    color: #fff;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  
  .footer__column-content-about {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  .footer__column-content-social {
    row-gap: 20px;
  }
  
  .footer__column-heading {
    color: #fff;
    margin: 0;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
  }
  
  .footer__list {
    list-style: none;
    padding: 0;
  }
  
  .footer__column-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
  }
  
  .footer__social-icons {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }